@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-stone-300 bg-stone-950;
  }
  p,
  label {
    @apply text-stone-400 md:text-sm text-xs;
  }
  h1 {
    @apply md:text-7xl text-5xl text-stone-200 font-bold;
  }
  h2 {
    @apply md:text-5xl text-3xl text-stone-200 font-bold;
  }
  h3 {
    @apply md:text-3xl text-2xl text-stone-200 font-bold;
  }
  h4 {
    @apply md:text-xl text-lg text-stone-200 font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ------------------------ Addition Setup styles for lenis library ------------------------ */
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/* ------------------------ // Addition Setup styles for lenis library ------------------------ */

/* ------------------------ Scrollbar Styles ------------------------ */
.custom-scrollbar {
  overflow-y: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-lg bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-neutral-300;
}
.invisible-scrollbar::-webkit-scrollbar {
  width: 1px;
}
.invisible-scrollbar::-webkit-scrollbar-track {
  @apply rounded-sm bg-transparent;
}
.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-transparent;
}
/* ------------------------ // Scrollbar Styles ------------------------ */
